@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

::-webkit-input-placeholder {
  color: white;
}
:-ms-input-placeholder {
  color: white;
}
::-moz-placeholder {
  color: white;
  opacity: 1;
}
:-moz-placeholder {
  color: white;
  opacity: 1;
}

@keyframes fade {
  0%,
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #fff;
  background-color: #000;
  font-family: "Ubuntu", sans-serif;
}

body .fa-2x{
  font-size: 2.5em;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

hr {
  border: 0;
  height: 1px;
  background: white;
  background-image: -webkit-linear-gradient(left, #333333, #ccc, #333333);
  background-image: -moz-linear-gradient(left, #333333, #ccc, #333333);
  background-image: -ms-linear-gradient(left, #333333, #ccc, #333333);
  background-image: -o-linear-gradient(left, #333333, #ccc, #333333);
}

.navB {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.navbar-expand-lg {
  transition: 500ms ease;
  background: transparent;
}

.navbar-expand-lg.scrolled {
  background-color: black;
}

nav a {
  color: white;
  font-size: 1.2rem;
  margin-left: 2rem;
}

.navbar-toggler-icon {
  background-image: url(img/hamburger.png);
}

.mainSlider {
  position: relative;
  width: 100%;
  height: 100vh;
}

.mainhead {
  z-index: 99;
  position: absolute;
  width: 100%;
  top: 40%;
  text-align: center;
}

.mainhead h1 {
  font-size: 4rem;
  color: white;
  display: inline;
}

.subhead {
  position: relative;
}

.subhead1 {
  width: 100%;
  text-align: center;
  position: absolute;
}

.socialMedia{
  position: relative;
  top: 3rem;
}

.facebook {
  color: white;
  margin-right: 1rem;
}

.facebook:hover{
  color: #1778F2;
}


.instagram {
  margin-right: 1rem;
  color: white;
}

.instagram:hover{
  color:#833AB4;
}

.snapchat {
  margin-right: 1rem;
  color: white;
}

.snapchat:hover{
  color:#FFFC00;
}

.linkedin {
  margin-right: 1rem;
  color: white;
}

.linkedin:hover{
  color:#0e76a8;
}

.github {
  margin-right: 1rem;
  color: white;
}

.github:hover{
  color:#F4CBB2;
}

.steam {
  color: white;
}

.steam:hover{
  color:#1b2838;
}



.aboutMe {
  padding-top: 3rem;
  background-color: #000;
}

.me {
  width: 250px;
  height: 250px;
  max-width: 100%;
  max-height: 10%;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  text-align: center;
  padding-top: 1.5rem;
}

.aboutMe p {
  text-align: center;
  font-size: 1.2rem;
  border-bottom: 2rem;
}

.techstack {
  padding-top: 1.5rem;
  height: 450px;
  font-size: 1.5rem;
  font-family: Consolas, Menlo, Monaco;
  max-width: 100%;
  width: fit-content;
  margin: auto;
}

.tab {
  margin-left: 2.5rem;
}

.tab2 {
  margin-left: 4rem;
}

#purple {
  color: purple;
}

#amber {
  color: rgb(255, 194, 0);
}

#orange {
  color: orange;
}

#peach {
  color: rgb(240, 120, 113);
}

#red {
  color: red;
}

#contact {
  height: auto;
}
.topform {
  display: flex;
  justify-content: space-evenly;
}

input[type="email"] {
  margin: 0;
}

.formelement {
  display: flex;
  flex-direction: column;
}

.formtitle {
  font-size: 1.5rem;
}

.forminput {
  border: 0;
  background: transparent;
  border: 2px solid white;
  width: 20rem;
  margin-right: 2rem;
  height: 2rem;
}

.outerFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottomform {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.btn {
  margin-top: 1rem;
  background: transparent;
  border: 2px solid white;
  color: white;
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  background-color: white;
  color: black;
  border-radius: 20%;
}

.forminput[type="text"],
.forminput[type="email"],
.messageInput[type="text"] {
  color: white;
  padding-left: 1rem;
}

.messageInput {
  border: 2px solid white;
  background: transparent;
}

.footer {
  border-top: 1rem;
  text-align: center;
  font-size: 1.2rem;
}

@media screen and (max-width: 767px) {
  .topform {
    display: inline-block;
  }

  .forminput {
    margin: 0;
  }
}
